 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
    }
/*

html{
  font-size: 62.5%;
}

.wrapper{
  width: 100vw;
  height: 100vh;
  position: relative;
}

section{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

.section-wrapper{
  width: inherit;
  height: inherit;
} */

#nav {
    position: relative;
    left: 0px;
    height: 60px;
    background-color: #2C64B4;
    width: 100%;
    margin: 0 auto;
}

#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

#nav ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

#nav ul li a {
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    color: #FFF;
    text-align: center;
}

.responsive {
  width: 100%;
  height: auto;
}

.top-container-main{
  position: relative;
  text-align: center;
}

.banner{
  position: absolute;
  top: 20vw;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner h2{
    font-size: 5vw;
    font-family: "Baloo Da 2",
    serif;
}

.banner button{
  width: 10rem;
  height: 3rem;
  background-color: goldenrod;
  margin-top: 20px;
  font-size: 2rem;
  font-family: "Castoro", serif;
  text-transform: uppercase;
  text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
}

.top-image{
  opacity: 0.5;
}

.wrapper{
  position: relative;
  text-align: center;
}
.text{
  padding-left: 30vw;
  padding-right: 30vw;
  padding-bottom: 5vw;
  padding-top: 3vw;
}

.three-columns{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-bottom: 3vw;
}

.showcase-main{
  position: relative;
  /* height: 500px; */
  background-color: lightgrey;
}

.showcase-main h2 {
  text-align: center;
  padding-top: 2vw;
  padding-bottom: 0.5vw;
}

.showcase-main p{
  text-align: center;
  margin-bottom: 20px;
}

.showcase-item{
  margin: 0  auto;
  text-align: center;
  width: 400px
}

.showcase-item img{
  padding-bottom: 0px;
  margin-bottom: 0;
}

.showcase-item p{
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

.shoecase-item img p{
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.showcase-item a:hover{
  opacity: 0.3;
}

.showcase-grid{
  display: grid;
  grid-template-columns: 40%  80%;
  padding-left: 20vw;
  padding-right: 20vw;
}

/* Bootstrap */
.thumbnail-slider{
	width: 100%;
	float: left;
	overflow: hidden;
}

.thumbnail-slider .thumbnail-container{
	width: 100%;
	float: left;
	transition: margin 1s ease;
}

.thumbnail-slider .item{
  height: 250px;
  background-color: grey;
  line-height: 250px;
  text-align: center;
  font-size: 50px;
  color:#ffffff;
  float: left;
}

.thumbnail-slider .controls{
	width: 100%;
	float: left;
	padding:15px;
}

.thumbnail-slider .controls ul{
	display: block;
	text-align: center;
	padding:0;
	margin:0;
	list-style: none;
}
.thumbnail-slider .controls ul li{
	height: 35px;
	width: 35px;
	border:1px solid #c3c3c3;
	margin:4px;
	display: inline-block;
	line-height: 33px;
	cursor: pointer;
}
.thumbnail-slider .controls ul li.active{
	background-color: green;
	color:#ffffff;

}
